# ── OpenRouter ────────────────────────────────────────────────────────────────
OPENROUTER_API_KEY=
# ── Slack (optional – notifications sent for HIGH + CRITICAL) ──────────────────
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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

# ── JIRA (optional – tickets created for CRITICAL only) ────────────────────────
JIRA_URL=https://group4gshack.atlassian.net # JIRA instance URL
JIRA_USER=group4.gshack@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0rZnCJTzO2iSdQ_J-XjwUnCYEuHoTLuOfD26MJKWDi0u7b9b6A8QPMNi24ZRTFLOplFp6N8crSijZ70qmas6z-XmKIS8L4wbd4dkiqI0UpbAVzwhhzAYyTgp9fXJ5mA2ESgKiG2dej2P-oMm41kDFZZIHRKbjfyBKhn4lpc0Ma6Y=35E35325
JIRA_PROJECT_KEY=SCRUM
#https://group4gshack.atlassian.net/browse/10000